################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/
/.vs/helloWorld2.git/v17/.wsuo
/.vs/helloWorld2.git/FileContentIndex/42dc434f-53cb-4c99-a93a-1f255391ad6d.vsidx
/.vs/helloWorld2.git/FileContentIndex/fccef232-5adb-45f0-a288-9efc6b12c23f.vsidx
/.vs/slnx.sqlite
